.clients-page {
  width: 100%;
  height: 95vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.clients-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border: solid 2px var(--color-brown-dark);
  border-radius: 1rem;
  max-height: 77vh;
  flex: 1;
  width: 100%;
  list-style: none;
  margin-top: 1rem;
  overflow: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.596);
}

.form-add-client-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 50rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 999;
}

.form-add-client {
  background-color: var(--color-rose-soft);
  max-width: 25rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99999;
  width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.596);
}

.button-close-add-client {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-brown-dark);
  color: var(--color-rose-soft);
  border: none;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.button-close-add-client:hover {
  background-color: var(--color-brown-hover);
}

.button-close-add-client:active {
  transform: scale(0.9);
}

.form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.form-add-client h2 {
  font-family: var(--font-poppins);
  color: var(--color-brown-dark);
  margin: 0;
}

.form-box input {
  padding: 0.5rem;
  border-radius: 999rem;
  width: 100%;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--color-brown-dark);
}

.form-box label {
  font-family: var(--font-poppins);
  width: 100%;
  text-align: left;
  color: var(--color-brown-dark);
}

.form-box .button-add {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--color-green-mint);
  color: var(--color-green-dark);
  border: none;
  border-radius: 999rem;
  font-weight: bold;
  font-family: var(--font-poppins);
  margin-top: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.button-add:hover {
  background-color: var(--color-green-hover);
}

.button-add:active {
  transform: scale(0.9);
}

.header-clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.header-clients h2 {
  font-family: var(--font-poppins);
  color: var(--color-brown-dark);
  height: fit-content;
  margin: 0;
}

.app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.button-addclient {
  padding: 0.5rem 1rem;
  border-radius: 999rem;
  border: none;
  background-color: var(--color-purple-light);
  font-size: 1rem;
  font-family: var(--font-poppins);
  font-weight: bold;
  color: var(--color-purple-dark);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-addclient:hover {
  background-color: var(--color-purple-hover);
}

.button-addclient:active {
  transform: scale(0.9);
}

.clients-data-columns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  background-color: var(--color-brown-dark);
  color: var(--color-rose-soft);
  font-weight: bold;
  font-family: var(--font-poppins);
  border-radius: 999rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.clients-data-columns p {
  font-size: 0.75rem;
  width: 6rem;
  overflow: hidden;
  text-align: left;
}

.clients-data-columns .column-id {
  font-size: 0.75rem;
  width: 2.5rem;
  overflow: hidden;
  text-align: center;
}

.client-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  border-bottom: solid 2px var(--color-rose-soft);
  border-top: solid 2px var(--color-rose-soft);
  color: var(--color-brown-dark);
  font-weight: bold;
  font-family: var(--font-poppins);
  padding: 0 1rem;
}

.client-item p {
  font-size: 0.75rem;
  width: 6rem;
  text-align: left;
  white-space: nowrap; /* no permite saltos de línea */
  overflow: hidden; /* oculta lo que se pasa */
  text-overflow: ellipsis; /* opcional: agrega "..." si se corta */
}

.client-item .column-id {
  font-size: 0.75rem;
  width: 2.5rem;
  overflow: hidden;
  text-align: left;
}

.select-client-status-icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: solid 1px;
}

.select-client-status {
  width: 5rem;
  padding: 0 0 0 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-poppins);
  font-weight: normal;
  border-radius: 999rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.select-client-status p {
  margin: 0;
}

.pend {
  background-color: #f1cd6986;
}

.pend .select-client-status-icon {
  background-color: #f5c542;
}

.pag {
  background-color: #2195f386;
}

.pag .select-client-status-icon {
  background-color: #2196f3;
}

.ent {
  background-color: #4caf4fb2;
}

.ent .select-client-status-icon {
  background-color: #4caf50;
}

.not-results-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  font-family: var(--font-poppins);
  color: var(--color-brown-dark);
}

.client-button-back-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.client-button-back {
  padding: 0.5rem 2rem;
  border-radius: 999rem;
  border: none;
  background-color: var(--color-green-mint);
  font-size: 1rem;
  font-family: var(--font-poppins);
  font-weight: bold;
  color: var(--color-green-dark);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.client-button-back:hover {
  background-color: var(--color-green-hover);
}

.client-button-back:active {
  transform: scale(0.9);
}
