.app-container {
  display: flex;
  position: relative;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.client-list {
  border: solid 1px var(--border);
  background-color: var(--pink-100);
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: auto;
  height: 80vh;
}

.client-item {
  border-radius: 0.5rem;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 1rem;
  border: solid 1px var(--border);
  transition: background-color 0.3s ease;
  cursor: pointer;
  background-color: var(--pink-600);
  color: var(--border-light);
  font-weight: bold;
}

.client-item:hover {
  background-color: var(--pink-500);
}

.item-right {
  box-sizing: border-box;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.item-right p {
  width: 20%;
  text-align: left;
}

.item-name {
  flex: 1;
  text-align: left;
}

.client-info {
  width: 100%;
  background-color: var(--pink-100);
  border: solid 1px var(--border);
  border-radius: 0.5rem;
  padding: 1rem;
}

.client-info-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.products-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 20rem;

  max-height: 20rem;
  overflow: auto;
}

.products-list li {
  display: flex;
  border: solid 1px;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--pink-600);
  border: solid 1px var(--border);
  color: var(--pink-100);
  font-weight: bold;
}

.form-add-client {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 5rem;
  border-radius: 0.5rem;
  position: absolute;
  padding: 1rem;
  background-color: var(--pink-800);
}

.form-add-product {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 5rem;
  border-radius: 0.5rem;
  position: absolute;
  padding: 1rem;
  background-color: var(--pink-800);
}
@media (max-width: 600px) {
}
