@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&family=Fredoka+One&family=Varela+Round&family=Caveat&family=Comfortaa:wght@400;600&display=swap");

.nav-bar-top {
  width: 100%;
  border-radius: 9999rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-top h2 {
  margin: 0;
  font-family: "Baloo 2", sans-serif;
  font-size: 2rem;
  color: var(--color-green-mint);
}

.home-perfil-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover; /* hace que la imagen se recorte pero mantenga proporción */
  object-position: top; /* centra el contenido */
}

.button-configuration-home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  background-color: var(--color-green-dark);
  color: var(--color-green-mint);
}
