@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-color: var(--color-background);
}
:root {
  /* 🎨 Base */
  --color-background: #e6e6e6;
  --color-surface: #f7f6f4;
  --color-dark: #1e172b;
  --color-muteed: #4a4a4a;

  /* 💜 Tonos principales */
  --color-purple-light: #bbb3cb;
  --color-purple-hover: #8871b6;

  --color-purple-dark: #574871;
  --color-rose-soft: #d8a4a9;
  --color-rose-hover: #a37c80;

  --color-green-mint: #9dcbc9;
  --color-green-hover: #47c7c1;
  --color-green-dark: #195e53;
  --color-brown-dark: #6a4b5b;
  --color-brown-hover: #4d3742;

  /* 🌼 Acentos */
  --color-yellow-mustard: #e5a54a;
  --color-beige: #f2e9da;

  /* Fuentes */
  --font-poppins: "Poppins", sans-serif;

  /* 🧩 Extra */
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-border: rgba(0, 0, 0, 0.08);
}

/* index.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}
