.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-color: var(--pink-light);
}
:root {
  --pink-light: #f9c6d0;
  --pink: #e96b8c;
  --pink-dark: #d6336c;

  --aqua-light: #a0e7e5;
  --aqua: #5fd9c1;
  --aqua-dark: #3bae9c;

  --white-soft: #fdfefe;
  --gray-soft: #6b6b6b;
}

/* index.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
